@CHARSET "UTF-8";

div#home-body {
    background-color: #ffffff;
    border: 1px dashed black;
    display: block;
    height: 800px;
    margin: auto;
    padding: 0;
    text-align: left;
    width: 800px;
}

