@CHARSET "UTF-8";

* { margin: 0; padding: 0; }

body {
    background: #dff0ff;
    color: #000000;
    left: 0;
    margin: auto;
    padding: 0;
    text-align: center;
    top: 0;
}

body, input, div, p, table, th, tr, td {
    font-family: sans-serif;
    font-size: 10pt;
}

